
**__pycache__/
*.py[cod]
*$py.class
.Python
eggs/
.eggs/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**.DS_Store
**.idea
**.pth
**/CamVid
**/Kitti
